<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="">Genero</label>
    <form action="/" method="POST">
        <select name="actor">
            <% for(i=0; i < actor.length; i++) {%>
                <option value="<%= actor[i].id %>">
                    <%= actor[i].first_name %>
                </option>
            <% } %>
            <input type="submit">
        </select>
    </form>
</div>
</body>
</html>